* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  position: relative;
}
.above-fold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .above-fold {
    perspective: 200px;
    perspective-origin: 50% 100px;
    margin: 0 auto;
  }
  .wrap-present {
    transform: translateY(310px);
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 4) {
  .above-fold {
    perspective: 200px;
    perspective-origin: 50% 100px;
    margin: 0 auto;
  }
  .wrap-present {
    transform: translateY(310px);
  }
}
